<div class="h-full w-full">
    <app-sidebar-admin-menu></app-sidebar-admin-menu>
    <div *ngIf="!isLoading" class="w-full flex items-stretch">
        <div class="w-full h-full">
            <div class="flex items-center justify-center mb-4 pt-12 text-center">
                <img class="w-max mx-auto" src="../../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
            </div>
            <div class="h-full">
                <div class="flex mb-4 mx-4 pt-2">
                    <div class="mr-6">
                        <button mat-raised-button class="bg-bt-orange">
                            <a routerLink="/ordine-interno" routerLinkActive="active">
                                <span class="p-2 text-white">NUOVO VOLONTARIO</span>
                            </a>
                        </button>
                    </div>
                    <div class="w-full">
                        <input 
                            [(ngModel)]="searchAccess"
                            type="text"
                            class="flex-grow pl-3 py-2 rounded border w-full
                            focus:border-nav"
                            placeholder="Cerca Volontario..."
                        >
                    </div>
                    <div class="ml-6">
                        <button mat-raised-button (click)="filterHistory()" class="bg-bt-orange">
                            <span class="p-2 text-white">CERCA</span>
                        </button>
                    </div>
                </div>
                <div *ngFor="let history of pageHistorySlice" class="mt-2 mx-4">
                    <div class="grid grid-cols-3 gap-4 mb-2">
                        <div class="font-bold">{{ history.user?.nome }} {{ history.user?.cognome }}</div>
                        <div>Ultimo Accesso: {{ history.ultimo_accesso }}</div>
                        <div>Interno: 
                            <span *ngIf="history.interno == true">Sì</span>
                            <span *ngIf="history.interno == false">No</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <mat-paginator [length]="this.histories.length"
                    [pageSize]="10"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="OnPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center m-auto">
        <mat-spinner class="m-auto border-nav"></mat-spinner>
    </div>
</div>