<div>
    <div *ngIf="view_notification === inAttesa">
        <h2>Ordini in attesa</h2>
        <div *ngFor="let order of inAttesaOrders">
            <p>quantità:{{order.quantita}}</p>
        </div>
    </div>
    <div *ngIf="view_notification === nonDisp">
        <h2>Ordini non disponibili</h2>
        <div *ngFor="let order of nonDispOrders">
            <p>quantità:{{order.quantita}}</p>
        </div>
    </div>
    <div *ngIf="view_notification === daConf">
        <h2>Ordini da confermare</h2>
        <div *ngFor="let order of daConfOrders">
            <p>quantità:{{order.quantita}}</p>
        </div>
    </div>
</div>
