<div class="h-full w-full">
  <div *ngIf="!isLoading" class="w-full flex items-stretch">
    <div class="w-full h-full">
      <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="indexTab" class="w-full flex bg-nav"
        (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" (swipeleft)="onSwipeLeft($event,-1)"
        (swiperight)="onSwipeRight($event,1)">
        <!-- USERS -->
        <mat-tab label="VOLONTARI" *ngIf="isAdmin">
          <mat-card class="h-full">
            <mat-card-content>
              <div class="sm:flex mb-4 pt-2 sm:space-x-6">
                <!-- NEW USER -->
                <div class="sm:flex flex-col justify-center hidden">
                  <button mat-raised-button class="bg-bt-orange" (click)="goToCreateUser()">
                    <span class="p-2 text-white">NUOVO VOLONTARIO</span>
                  </button>
                </div>

                <div class="w-full">
                  <div class="flex items-center sm:space-x-6 space-x-3">
                    <!-- SEARCHBAR -->
                    <input type="text" [(ngModel)]="searchUser" (change)="filterUser()"
                      class="w-full flex-grow pl-3 py-2 rounded border focus:border-nav"
                      placeholder="Cerca Volontario..." />

                    <!-- SEARCH BUTTON -->
                    <div class="flex sm:flex-col">
                      <button mat-raised-button (click)="filterUser()" class="bg-bt-orange">
                        <span class="p-2 text-white">CERCA</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="searchUsers.length == 0">
                <div *ngFor="let user of pageUserSlice" class="mt-2">
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="w-1/3 my-auto">
                        <span class="font-bold sm:hidden flex">{{ user.nome | uppercase }}
                          {{ user.cognome | uppercase }}</span>
                        <span class="font-bold hidden sm:flex">N. {{ user.n_tessera }} -
                          {{ user.nome | uppercase }}
                          {{ user.cognome | uppercase }}</span>
                      </mat-panel-title>
                      <mat-panel-description class="w-1/3 flex justify-center items-center my-auto">
                        <span class="leading-loose text-black mr-auto hidden sm:inline">N. tessera {{ user.n_tessera
                          }}</span>
                      </mat-panel-description>
                      <div class="w-1/3 flex justify-end items-center">
                        <button matTooltip="Modifica Utente" mat-button-basic (click)="editUser(user.id)"
                          class="ml-auto mr-3 sm:mr-5 flex flex-col justify-center">
                          <span class="material-symbols-outlined text-xl">
                            edit
                          </span>
                        </button>
                        <button mat-button-basic matTooltip="Elimina Utente" (click)="openDeleteUserDialog(user.id)"
                          class="mr-3 sm:mr-5 flex flex-col justify-center">
                          <span class="material-symbols-outlined text-xl">
                            delete
                          </span>
                        </button>
                      </div>
                    </mat-expansion-panel-header>
                    <p class="font-bold sm:hidden flex">
                      N. tessera {{ user.n_tessera }}
                    </p>
                    <p>Email: {{ user.email }}</p>
                    <p>Ruolo: {{ user.ruolo }}</p>
                    <p>Creato il: {{ user.created_at | date: "short" }}</p>
                  </mat-expansion-panel>
                </div>
              </div>
              <div *ngIf="searchUsers.length != 0">
                <div *ngFor="let user of searchUsers" class="mt-2">
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="w-1/3 my-auto">
                        <span class="font-bold">{{ user.nome | uppercase }}
                          {{ user.cognome | uppercase }}</span>
                      </mat-panel-title>
                      <mat-panel-description class="w-1/3 flex justify-center my-auto">
                        <span class="leading-loose text-black mr-auto hidden sm:inline">N. tessera {{ user.n_tessera
                          }}</span>
                      </mat-panel-description>
                      <div class="w-1/3 flex justify-end">
                        <button mat-button-basic matTooltip="Modifica Utente" (click)="editUser(user.id)"
                          class="ml-auto mr-3 sm:mr-5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                          </svg>
                        </button>
                        <button mat-button-basic matTooltip="Elimina Utente" (click)="openDeleteUserDialog(user.id)"
                          class="mr-3 sm:mr-5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                          </svg>
                        </button>
                      </div>
                    </mat-expansion-panel-header>
                    <p class="font-bold sm:hidden flex">
                      N. tessera {{ user.n_tessera }}
                    </p>
                    <p>Email: {{ user.email }}</p>
                    <p>Ruolo: {{ user.ruolo }}</p>
                    <p>Creato il: {{ user.created_at | date: "short" }}</p>
                  </mat-expansion-panel>
                </div>
              </div>

              <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                <mat-paginator showFirstLastButtons [length]="this.users.length" [pageSize]="10"
                  [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)">
                </mat-paginator>
              </div>
              <div class="flex sm:hidden justify-end mt-2">
                <mat-paginator class="mb-16" hidePageSize [length]="this.users.length" [pageSize]="10"
                  (page)="OnPageChange($event)">
                </mat-paginator>
              </div>

              <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer"
                (click)="goToCreateUser()">
                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                  +
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <!-- ORDERS -->
        <mat-tab label="ORDINI">
          <mat-card class="h-full">
            <mat-card-content>
              <div class="sm:flex mb-4 pt-2 sm:space-x-6">
                <!-- NEW ORDER -->
                <div class="sm:flex flex-col justify-center hidden">
                  <button mat-raised-button class="bg-bt-orange" (click)="goToCreateOrder()">
                    <span class="p-2 text-white">NUOVO ORDINE</span>
                  </button>
                </div>

                <div class="w-full">
                  <div class="flex items-center sm:space-x-6 space-x-3">
                    <!-- SEARCHBAR -->
                    <input type="text" [(ngModel)]="searchOrder" (change)="filterOrder()"
                      class="w-full h-auto flex-grow pl-3 py-2 rounded border focus:border-nav"
                      placeholder="Cerca Ordine..." />

                    <!-- SELECT STATUS -->
                    <div class="hidden sm:flex">
                      <mat-form-field class="w-full">
                        <mat-label class="">Stato Ordine:</mat-label>
                        <mat-select name="order_status" (selectionChange)="filterOrder()" [(ngModel)]="order_status">
                          <mat-option value="all">Tutti</mat-option>
                          <mat-option *ngFor="let status of statuses" [value]="status.name">
                            <div class="flex items-center">
                              <span class="mr-auto">{{ status.value }}</span>
                              <span class="material-symbols-outlined text-xl" [ngClass]="status.class">
                                {{ status.icon }}
                              </span>
                            </div>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- SEARCH BUTTON -->
                    <div class="flex sm:flex-col">
                      <button mat-raised-button (click)="filterOrder()" class="bg-bt-orange">
                        <span class="p-2 text-white">CERCA</span>
                      </button>
                    </div>
                  </div>
                  <div class="flex sm:hidden">
                    <!-- SELECT STATUS [MOBILE]-->
                    <div class="w-full mt-3">
                      <mat-form-field class="w-full">
                        <mat-label>Stato Ordine:</mat-label>
                        <mat-select name="order_status" (selectionChange)="filterOrder()" [(ngModel)]="order_status">
                          <mat-option value="all">Tutti</mat-option>
                          <mat-option *ngFor="let status of statuses" [value]="status.name">
                            <div class="flex items-center">
                              <span class="mr-auto">{{ status.value }}</span>
                            </div>
                            <span class="material-symbols-outlined text-xl" [ngClass]="status.class">
                              {{ status.icon }}
                            </span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngFor="let order of pageOrderSlice" class="mt-2">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="w-1/3 my-auto">
                      <span class="font-bold">N. {{ order.n_ordine }}</span>
                    </mat-panel-title>
                    <mat-panel-description class="w-1/3 flex justify-center my-auto">
                      <span class="leading-loose text-black mr-auto hidden sm:inline">
                        Tot. capi: {{ order.clothes_count }}
                      </span>
                      <div class="flex items-center justify-start sm:justify-center w-full sm:w-min">
                        <span class="leading-loose text-black mr-auto pr-4 hidden sm:inline whitespace-nowrap">{{
                          order.status.value }}
                        </span>
                        <span class="material-symbols-outlined" [ngClass]="order.status.class" *ngIf="order.status">
                          {{ order.status.icon }}
                        </span>
                      </div>
                    </mat-panel-description>
                    <div class="w-1/3 flex justify-end">
                      <!-- <button mat-button-basic matTooltip="Vedi ricevuta" (click)="openPreviewPDF(order.id)"
                        class="ml-auto mr-3 sm:mr-5 sm:flex flex-col justify-center hidden">
                        <span class="material-symbols-outlined text-xl">
                          receipt_long
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Modifica Ordine" (click)="editOrder(order.id)"
                        *ngIf="order.status.name != 'delivered'" class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          edit
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Elimina Ordine" (click)="openDeleteOrderDialog(order.id)"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          delete
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Gestisci abiti" (click)="confirmOrder(order.id)"
                        *ngIf="(order.status.name == 'to_be_prepared')"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          checkroom
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Manda in consegna" (click)="deliverOrder(order.id)"
                        *ngIf="(order.status.name != 'to_be_delivered' && order.status.name != 'delivered')"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          local_shipping
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Consegnato" (click)="confirmOrder(order.id)"
                        *ngIf="order.status.name == 'to_be_delivered'"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          done
                        </span>
                      </button> -->
                      <button mat-button-basic matTooltip="Vedi ricevuta" (click)="openPreviewPDF(order.id)"
                        class="ml-auto mr-3 sm:mr-5 sm:flex flex-col justify-center hidden">
                        <span class="material-symbols-outlined text-xl">
                          receipt_long
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Modifica Ordine" (click)="editOrder(order.id)"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          edit
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Elimina Ordine" (click)="openDeleteOrderDialog(order.id)"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          delete
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Gestisci abiti" (click)="clothesStatus(order.id)"
                        class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          checkroom
                        </span>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <!-- <p class="font-bold">
                    {{ order.client?.n_tessera }} -
                    {{ order.client?.cognome | uppercase }}
                    {{ order.client?.nome | uppercase }}
                  </p> -->
                  
                  <!-- <p>Punto di ritiro: {{ order.p_ritiro }}</p> -->
                  <p><span class="font-medium">Punti di ritiro:</span> {{ order.p_ritiro }}</p>
                  <p><span class="font-medium">Assistito:</span> {{ order.client?.n_tessera }} - {{ order.client?.cognome }} {{ order.client?.nome }}</p>
                  
                  
                  <table class="w-full">
                    <tr class="font-medium space-x-1">
                      <td>Tipo</td>
                      <!-- <td class="hidden sm:inline">Genere</td> -->
                      <td>Taglia</td>
                      <td class="hidden sm:inline">Quantità</td>
                      <td>Stato</td>
                    </tr>
                    <tr *ngFor="let clothe of order.clothes" class="space-x-1">
                      <td>{{ clothe.t_vestiario }}</td>
                      <!-- <td class="hidden sm:inline">
                        {{ order.client?.genere }}
                      </td> -->
                      <!-- <td class="hidden sm:inline">{{ user.t_pantaloni }}</td>
                                            <td class="hidden sm:inline">{{ user.t_pantaloni }}</td> -->
                      <td>
                        <span *ngIf="
                        ['Giacca', 'Maglieria', 'Camicia'].includes(
                          clothe.reference
                        )
                      ">
                          {{ order.client.t_maglietta }}
                        </span>
                        <span *ngIf="['Pantaloni', 'Intimo'].includes(clothe.reference)">
                          {{ order.client.t_pantaloni }}
                        </span>
                        <span *ngIf="['Calze', 'Scarpe'].includes(clothe.reference)">
                          {{ order.client.t_scarpe }}
                        </span>
                        <span *ngIf="['Accessori'].includes(clothe.reference)">
                          -
                        </span>
                      </td>
                      <td class="hidden sm:inline">{{ clothe.quantita }}</td>
                      <td>{{ clothe.status.value }}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </div>

              <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                <mat-paginator showFirstLastButtons [length]="this.orders.length" [pageSize]="10"
                  [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)">
                </mat-paginator>
              </div>
              <div class="flex sm:hidden justify-end mt-2">
                <mat-paginator class="mb-16" hidePageSize [length]="this.orders.length" [pageSize]="10"
                  (page)="OnPageChange($event)">
                </mat-paginator>
              </div>

              <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer"
                (click)="goToCreateOrder()">
                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                  +
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <!-- CLIENT -->
        <mat-tab label="ASSISTITI">
          <mat-card class="h-full">
            <mat-card-content>
              <div class="sm:flex mb-4 pt-2 sm:space-x-6">
                <!-- NEW CLIENT-->
                <div class="sm:flex flex-col justify-center hidden">
                  <button mat-raised-button class="bg-bt-orange" (click)="goToCreateClient()">
                    <span class="p-2 text-white">NUOVO ASSISTITO</span>
                  </button>
                </div>
                <div class="w-full">
                  <div class="flex items-center sm:space-x-6 space-x-3">
                    <!-- SEARCHBAR -->
                    <input type="text" [(ngModel)]="searchClient" (change)="filterClient()"
                      class="w-full flex-grow pl-3 py-2 rounded border focus:border-nav"
                      placeholder="Cerca Assistito..." />
                    <!-- SEARCH BUTTON -->
                    <div class="flex sm:flex-col">
                      <button mat-raised-button (click)="filterClient()" class="bg-bt-orange">
                        <span class="p-2 text-white">CERCA</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngFor="let client of pageClientSlice" class="mt-2">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="w-full sm:w-1/3 my-auto flex">
                      <!-- <span class="font-bold sm:hidden flex">{{ client.nome | uppercase }}
                        {{ client.cognome | uppercase }}</span> -->
                      <span class="font-bold flex flex-col justify-center items-start sm:items-center w-1/10 ">
                        {{ client.n_tessera }}
                      </span>
                      <span class="font-bold flex flex-col justify-center w-9/10 ml-3"> {{ client.cognome | uppercase
                        }} {{
                        client.nome | uppercase }}</span>
                    </mat-panel-title>
                    <mat-panel-description class="w-1/3 flex justify-center my-auto">
                      <span class="leading-loose text-black mr-auto hidden sm:inline">N. tessera {{ client.n_tessera
                        }}</span>
                    </mat-panel-description>
                    <div class="w-1/3 flex justify-end">
                      <button mat-button-basic matTooltip="Modifica Volontario" (click)="editClient(client.id)"
                        class="ml-auto mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          edit
                        </span>
                      </button>
                      <button mat-button-basic matTooltip="Elimina Volontario"
                        (click)="openDeleteClientDialog(client.id)" class="mr-3 sm:mr-5 flex flex-col justify-center">
                        <span class="material-symbols-outlined text-xl">
                          delete
                        </span>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <!-- <p class="font-bold">
                    {{ client.document?.t_doc }} N. {{ client.document?.n_doc }}
                  </p> -->
                  <!-- <p class="font-bold sm:hidden flex">
                    N. tessera: {{ client.n_tesseyoyyora }}
                  </p> -->
                  <!-- <p>Genere: {{ client.genere }}</p> -->
                  <div class="flex flex-col sm:flex-row">
                    <div class="w-full sm:w-1/2 flex flex-col justify-center">
                      <div>
                        <p><span class="font-medium">Nazionalità:</span> {{ client.nazionalita }}</p>
                        <p><span class="font-medium">Genere:</span> {{ client.genere ?? '-' }}</p>
                      </div>
                      <!-- <table class="w-full">
                        <tr>
                          <td>Taglia maglia</td>
                          <td>Taglia pantaloni</td>
                          <td>Taglia scarpe</td>
                        </tr>
                        <tr>
                          <td>{{ client.t_maglietta }}</td>
                          <td>{{ client.t_pantaloni }}</td>
                          <td>{{ client.t_scarpe }}</td>
                        </tr>
                      </table> -->
                      <div>
                        <p class="font-medium">Taglie:</p>
                        <div class="grid grid-cols-4">
                          <div>Maglia</div>
                          <div>Pantaloni</div>
                          <div>Scarpe</div>
                          <div>Altezza</div>
                          <div>{{ client.t_maglietta ?? '-' }}</div>
                          <div>{{ client.t_pantaloni ?? '-' }}</div>
                          <div>{{ client.t_scarpe ?? '-' }}</div>
                          <div>{{ client.altezza ? client.altezza + ' cm' : '-' }} </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-full sm:w-1/2" *ngIf="client.history.length > 0">
                      <div class="flex flex-col mt-5 sm:mt-0">
                        <p class="font-medium">Cronologia ordini</p>
                      </div>
                      <div class="grid grid-cols-2 w-full gap-5 mb-2 text-nav border-b-2 border-nav">
                        <div>
                          Tipo
                        </div>
                        <div class="flex justify-end">
                          Data
                        </div>
                      </div>

                      <div *ngFor="let order of client.history" class="w-full">
                        <div *ngFor="let clothe of order.clothes" class="grid grid-cols-2 w-full gap-5 space-y-2">
                          <div class="flex items-center">
                            {{ clothe.t_vestiario }}
                          </div>
                          <div class="flex justify-end items-center">
                            {{ order.created_at | date: "dd/MM/yy" }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="client.history.length < 1">
                      <div class="flex flex-col items-center justify-center mt-5 sm:mt-0">
                        <p class="font-medium">Non sono presenti ordini nell'ultimo mese</p>
                      </div>
                    </div>
                  </div>

                </mat-expansion-panel>

              </div>
              <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                <mat-paginator showFirstLastButtons [length]="this.clients.length" [pageSize]="10"
                  [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)">
                </mat-paginator>
              </div>
              <div class="flex sm:hidden justify-end mt-2">
                <mat-paginator class="mb-16" hidePageSize [length]="this.clients.length" [pageSize]="10"
                  (page)="OnPageChange($event)">
                </mat-paginator>
              </div>
              <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer"
                (click)="goToCreateClient()">
                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                  +
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- <div class="hidden w-2/3 mx-auto bg-white px-10" id="viewPDF" #viewPDF>
            <img src="../../assets/ronda-della-carita.png" alt="" class="mx-auto w-1/2 pt-4">
            <p class="pt-8 text-center text-xl">RIEPILOGO ORDINE N. <span class="bold">{{orderPDF.n_ordine}}</span></p>
            <div class="flex w-full">
                <div class="flex flex-col w-full text-lg">
                    <p>Destinatario</p>
                    <p>{{orderPDF.client?.nome}} {{orderPDF.client?.cognome}} - N. Tessera {{orderPDF.client?.n_tessera}}</p>
                    <p>Ritiro presso: {{orderPDF.p_ritiro}}</p>
                    <p>Livello: {{orderPDF.livello}}</p>
                    <p>Ordine N. <span class="bold">{{orderPDF.n_ordine}}</span></p>
                    <div class="border-2 p-auto">
                        <div *ngFor="let clothe of orderPDF.clothes">
                            <table class="w-full my-4 mx-4">
                                <tr>
                                    <td>Tipo vestiario</td>
                                    <td>Genere</td>
                                    <td>Taglia</td>
                                    <td>Quantità skkk</td>
                                </tr>
                                <tr>
                                    <td>{{ clothe.t_vestiario }}</td>
                                    <td>{{ clothe.taglia }}</td>
                                    <td>{{ clothe.taglia }}</td>
                                    <td>{{ clothe.quantita }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <p class="text-right pt-4">Creato da {{orderPDF.user?.nome}} {{orderPDF.user?.cognome}}</p>
                    <p class="text-right">N. Tessera {{orderPDF.user?.n_tessera}}</p>
                    
                </div>
            </div>
        </div> -->
  </div>
  <div *ngIf="isLoading" class="h-full grid grid-center m-auto">
    <mat-spinner class="m-auto border-nav"></mat-spinner>
  </div>
</div>