<div class="h-full w-full">
    <div *ngIf="!isLoading" class="w-full flex items-stretch">
        <div class="w-full h-full">
            <div class="flex items-center justify-center py-3 sm:py-7 text-center px-12">
                <img class="" src="../../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
            </div>
            <mat-tab-group mat-align-tabs="center" class="w-full flex">

                <!-- USERS -->
                <mat-tab label="VOLONTARI" *ngIf="currentRoute === urlAdmin">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="sm:flex mb-4 pt-2 sm:space-x-6">

                                <!-- NEW USER -->
                                <div class="sm:flex flex-col justify-center hidden">
                                    <button mat-raised-button class="bg-bt-orange" (click)="goToCreateUser()">
                                        <span class="p-2 text-white">NUOVO VOLONTARIO</span>
                                    </button>
                                </div>

                                <div class="w-full">
                                    <div class="flex items-center sm:space-x-6 space-x-3">

                                        <!-- SEARCHBAR -->
                                        <input 
                                            type="text"
                                            [(ngModel)]="searchUser"
                                            (change)="filterUser()"
                                            class="w-full flex-grow pl-3 py-2 rounded border
                                            focus:border-nav"
                                            placeholder="Cerca Volontario..."
                                        >

                                        <!-- SEARCH BUTTON -->
                                        <div class="flex sm:flex-col">
                                            <button mat-raised-button (click)="filterUser()" class="bg-bt-orange">
                                                <span class="p-2 text-white">CERCA</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="searchUsers.length == 0">
                                <div *ngFor="let user of pageUserSlice" class="mt-2">
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="w-1/3 my-auto">
                                                <span class="font-bold">{{ user.nome | uppercase }} {{ user.cognome | uppercase }}</span>
                                            </mat-panel-title>
                                            <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                                <span class="leading-loose text-black mr-auto hidden sm:inline">Ruolo: {{ user.param?.name }}</span>
                                            </mat-panel-description>
                                            <div class="w-1/3 flex justify-end">
                                                <button mat-button-basic (click)="openEditUserDialog(user.id)" class="ml-auto mr-3 sm:mr-5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </button>
                                                <button mat-button-basic (click)="openDeleteUserDialog(user.id)" class="mr-3 sm:mr-5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </mat-expansion-panel-header>
                                        <p>Email: {{ user.email }}</p>
                                        <p>Creato il: {{ user.created_at | date :'short'}}</p>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div *ngIf="searchUsers.length != 0">
                                <div  *ngFor="let user of searchUsers" class="mt-2">
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="w-1/3 my-auto">
                                                <span class="font-bold">{{ user.nome | uppercase }} {{ user.cognome | uppercase }}</span>
                                            </mat-panel-title>
                                            <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                                <span class="leading-loose text-black mr-auto">Ruolo: {{ user.param?.name }}</span>
                                            </mat-panel-description>
                                            <div class="w-1/3 flex justify-end">
                                                <button mat-button-basic (click)="openEditUserDialog(user.id)" class="ml-auto mr-3 sm:mr-5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </button>
                                                <button mat-button-basic (click)="openDeleteUserDialog(user.id)" class="mr-3 sm:mr-5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </mat-expansion-panel-header>
                                        <p>Email: {{ user.email }}</p>
                                        <p>Creato il: {{ user.created_at | date :'short'}}</p>
                                    </mat-expansion-panel>
                                </div>
                            </div>

                            <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                                <mat-paginator 
                                    [length]="this.users.length"
                                    [pageSize]="10"
                                    [pageSizeOptions]="pageSizeOptions"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>
                            <div class="flex sm:hidden justify-center ml-3 mt-2">
                                <mat-paginator 
                                    class="mb-16"
                                    [length]="this.users.length" 
                                    [pageSize]="10"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>

                            <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer" (click)="goToCreateUser()">
                                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                                    +
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>

                <!-- ORDERS -->
                <mat-tab label="ORDINI">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="sm:flex mb-4 pt-2 sm:space-x-6">

                                <!-- NEW ORDER -->
                                <div class="sm:flex flex-col justify-center hidden">
                                    <button mat-raised-button class="bg-bt-orange" (click)="goToCreateOrder()">
                                        <span class="p-2 text-white">NUOVO ORDINE</span>
                                    </button>
                                </div>

                                <div class="w-full">
                                    <div class="flex items-center sm:space-x-6 space-x-3">

                                        <!-- SEARCHBAR -->
                                        <input 
                                            type="text"
                                            [(ngModel)]="searchOrder"
                                            (change)="filterOrder()"
                                            class="w-full h-auto flex-grow pl-3 py-2 rounded border
                                            focus:border-nav"
                                            placeholder="Cerca Ordine..."
                                        >

                                        <!-- SELECT STATUS -->
                                        <div class="hidden sm:flex">
                                            <mat-form-field class="w-full">
                                                <mat-label>Stato Ordine:</mat-label>
                                                <mat-select name="order_status" (selectionChange)="filterOrder()" [(ngModel)]="state"> 
                                                    <mat-option value="all"></mat-option>
                                                    <mat-option *ngFor="let order_status of orders_status" [value]="order_status.value">
                                                        <div class="flex items-center">
                                                            <span class="mr-auto">{{ order_status.name }}</span>
                                                            <img *ngIf="order_status.value === order_cons" src="https://img.icons8.com/material-outlined/50/000000/checkmark.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_no_disp" src="https://img.icons8.com/material-outlined/50/000000/delete-sign.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_attesa" src="https://img.icons8.com/material-outlined/50/000000/clock.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_da_conf" src="https://img.icons8.com/material-outlined/24/000000/box-important--v1.png" alt="" class="h-6 w-6">
                                                        </div>
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <!-- SEARCH BUTTON -->
                                        <div class="flex sm:flex-col">
                                            <button mat-raised-button (click)="filterOrder()" class="bg-bt-orange">
                                                <span class="p-2 text-white">CERCA</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="flex sm:hidden">

                                        <!-- SELECT STATUS [MOBILE]-->
                                        <div class="w-full mt-3">
                                            <mat-form-field class="w-full">
                                                <mat-label>Stato Ordine:</mat-label>
                                                <mat-select name="order_status" (selectionChange)="filterOrder()" [(ngModel)]="state"> 
                                                    <mat-option value="all"></mat-option>
                                                    <mat-option *ngFor="let order_status of orders_status" [value]="order_status.value">
                                                        <div class="flex items-center">
                                                            <span class="mr-auto">{{ order_status.name }}</span>
                                                            <img *ngIf="order_status.value === order_cons" src="https://img.icons8.com/material-outlined/50/000000/checkmark.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_no_disp" src="https://img.icons8.com/material-outlined/50/000000/delete-sign.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_attesa" src="https://img.icons8.com/material-outlined/50/000000/clock.png" alt="" class="h-6 w-6">
                                                            <img *ngIf="order_status.value === order_da_conf" src="https://img.icons8.com/material-outlined/24/000000/box-important--v1.png" alt="" class="h-6 w-6">
                                                        </div>
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let order of pageOrderSlice" class="mt-2">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="w-1/3 my-auto">
                                            <span class="font-bold">Ordine N. {{ order.n_ordine }}</span>
                                        </mat-panel-title>
                                        <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                            <span class="leading-loose text-black mr-auto hidden sm:inline">
                                                Tot. capi: {{ order.n_clothes}} 
                                            </span>
                                            <div class="flex items-center">
                                                <span class="leading-loose text-black mr-auto pr-4">Stato: </span>
                                                <div *ngIf="order.status === order_attesa">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-blue-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>
                                                </div>
                                                <div *ngIf="order.status === order_cons">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-green-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                    </svg>
                                                </div>
                                                <div *ngIf="order.status === order_no_disp">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-red-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                </div>
                                                <div *ngIf="order.status === order_da_conf">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-yellow-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                        <div class="w-1/3 flex justify-end">
                                            <button mat-button-basic (click)="openEditOrderDialog(order.id)" class="ml-auto mr-3 sm:mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </button>
                                            <button mat-button-basic (click)="openDeleteOrderDialog(order.id)" class="mr-3 sm:mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <p class="font-bold">{{ order.client?.nome }} {{ order.client?.cognome }}</p>
                                    <p>Punto di ritiro: {{ order.p_ritiro }}</p>
                                    <table class="w-full">
                                        <tr>
                                            <td>Tipo vestiario</td>
                                            <td>Genere</td>
                                            <td>Taglia</td>
                                            <td>Quantità</td>
                                            <td>Stato</td>
                                        </tr>
                                        <tr *ngFor="let clothe of order.clothes">
                                            <td>{{ clothe.inventory?.t_vestiario }}</td>
                                            <td>{{ clothe.inventory?.param?.value }}</td>
                                            <td>{{ clothe.inventory?.taglia }}</td>
                                            <td>{{ clothe.quantita }}</td>
                                            <td>{{ clothe.param?.name }}</td>
                                        </tr>
                                    </table>
                                </mat-expansion-panel>
                            </div>

                            <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                                <mat-paginator 
                                    [length]="this.orders.length"
                                    [pageSize]="10"
                                    [pageSizeOptions]="pageSizeOptions"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>
                            <div class="flex sm:hidden justify-center ml-3 mt-2">
                                <mat-paginator 
                                    class="mb-16"
                                    [length]="this.orders.length" 
                                    [pageSize]="10"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>

                            <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer" (click)="goToCreateUser()">
                                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                                    +
                                </div>
                            </div>
 
                        </mat-card-content>
                    </mat-card>
                </mat-tab>

                <!-- CLIENT -->
                <mat-tab label="ASSISTITI">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="sm:flex mb-4 pt-2 sm:space-x-6">

                                <!-- NEW CLIENT-->
                                <div class="sm:flex flex-col justify-center hidden">
                                    <button mat-raised-button class="bg-bt-orange" (click)="goToCreateClient()">
                                        <span class="p-2 text-white">NUOVO ASSISTITO</span>
                                    </button>
                                </div>

                                <div class="w-full">
                                    <div class="flex items-center sm:space-x-6 space-x-3">

                                        <!-- SEARCHBAR -->
                                        <input 
                                            type="text"
                                            [(ngModel)]="searchClient"
                                            (change)="filterClient()"
                                            class="w-full flex-grow pl-3 py-2 rounded border
                                            focus:border-nav"
                                            placeholder="Cerca Cliente..."
                                        >

                                        <!-- SEARCH BUTTON -->
                                        <div class="flex sm:flex-col">
                                            <button mat-raised-button (click)="filterClient()" class="bg-bt-orange">
                                                <span class="p-2 text-white">CERCA</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let client of pageClientSlice" class="mt-2">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="w-1/3 my-auto">
                                            <span class="font-bold">{{ client.nome | uppercase }} {{ client.cognome | uppercase}}</span>
                                        </mat-panel-title>
                                        <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                            <span class="leading-loose text-black mr-auto hidden sm:inline">N. tessera 11</span>
                                        </mat-panel-description>
                                        <div class="w-1/3 flex justify-end">
                                            <button mat-button-basic (click)="openEditClientDialog(client.id)" class="ml-auto mr-3 sm:mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </button>
                                            <button mat-button-basic (click)="openDeleteClientDialog(client.id)" class="mr-3 sm:mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <p class="font-bold">
                                        {{ client.document?.param?.name }} N. {{ client.document?.n_documento }}</p>
                                    <p>Genere: {{ client.param?.name }}</p>
                                    <p>Nazionalità: {{ client.nazionalita }}</p>
                                    <table class="w-full">
                                        <tr>
                                            <td>Taglia maglia</td>
                                            <td>Taglia pantaloni</td>
                                            <td>Taglia scarpe</td>
                                        </tr>
                                        <tr>
                                            <td>{{ client.t_maglietta }}</td>
                                            <td>{{ client.t_pantaloni }}</td>
                                            <td>{{ client.t_scarpe }}</td>
                                        </tr>
                                    </table>
                                </mat-expansion-panel>
                            </div>
                            <div class="sm:flex hidden justify-end -mr-4 -mb-4">
                                <mat-paginator 
                                    [length]="this.clients.length"
                                    [pageSize]="10"
                                    [pageSizeOptions]="pageSizeOptions"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>
                            <div class="flex sm:hidden justify-center ml-3 mt-2">
                                <mat-paginator 
                                    class="mb-16"
                                    [length]="this.clients.length" 
                                    [pageSize]="10"
                                    (page)="OnPageChange($event)">
                                </mat-paginator>
                            </div>
                            <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange sm:hidden cursor-pointer" (click)="goToCreateUser()">
                                <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                                    +
                                </div>
                            </div>
 
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center m-auto">
        <mat-spinner class="m-auto border-nav"></mat-spinner>
    </div>
</div>