<div *ngIf="!isLoading">
    <div>
        <h2 mat-dialog-title>Modifica Assistito <span class="font-bold">{{ client.nome | uppercase }} {{ client.cognome | uppercase }}</span></h2>
        <mat-dialog-content>
            <form class="w-full mt-3">
                <div class="w-full flex-col">
                    <mat-form-field appearance="fill" class="w-full mt-4">
                        <mat-label>Tipo documento:</mat-label>
                        <mat-select name="tdocument" ><!--[(ngModel)]="newClient.t_documento"-->
                            <mat-option *ngFor="let tdocument of tdocuments" [value]="tdocument.value">
                                {{tdocument.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>N. Documento</mat-label>
                        <input type="number" matInput 
                            placeholder="N. Documento"><!--[(ngModel)]="newClient.n_documento"-->
                    </mat-form-field>
                </div>
                <div class="w-full flex-col">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Taglia maglietta:</mat-label>
                        <mat-select name="tmaglietta" ><!--[(ngModel)]="newClient.t_maglietta"-->
                            <mat-option *ngFor="let tmaglietta of tmagliettas" [value]="tmaglietta.value">
                                {{tmaglietta.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Taglia pantaloni:</mat-label>
                        <mat-select name="tpantaloni"><!-- [(ngModel)]="newClient.t_pantaloni"-->
                            <mat-option *ngFor="let tpantaloni of tpantalonis" [value]="tpantaloni.value">
                                {{tpantaloni.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Taglia scarpe:</mat-label>
                        <mat-select name="tscarpe" ><!--[(ngModel)]="newClient.t_scarpe"-->
                            <mat-option *ngFor="let tscarpe of tscarpes" [value]="tscarpe.value">
                                {{tscarpe.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form> 
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button cdkFocusInitial (click)="clearCache()" mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
            <button mat-button (click)="editClient()" mat-dialog-close class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
        </mat-dialog-actions>
    </div>
</div>
<div *ngIf="isLoading" class="h-full grid grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>


