<form [formGroup]="registerForm" class="flex flex-col flex-grow h-full pt-5">
    <div class="flex flex-col justify-center flex-grow">
        <div class="flex flex-col sm:flex-row sm:space-x-3">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nome</mat-label>
                <input 
                    type="text" 
                    formControlName="nome"
                    matInput 
                    placeholder="Nome"
                    required
                >
                <mat-error *ngIf="registerForm.hasError('required', 'nome') && !isSubmitted">
                    Inserisci il <strong>nome</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Cognome</mat-label>
                <input 
                    type="text" 
                    formControlName="cognome"
                    matInput 
                    placeholder="Cognome"
                    required
                >
                <mat-error *ngIf="registerForm.hasError('required', 'cognome') && !isSubmitted">
                    Inserisci il <strong>cognome</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input 
                type="email" 
                formControlName="email"
                matInput 
                placeholder="Email"
                [errorStateMatcher]="matcherEmail"
                required
            >
            <mat-error *ngIf="registerForm.hasError('email', 'email') && !registerForm.hasError('required','email') && !isSubmitted">
                Inserisci un indirizzo <strong>email valido</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.hasError('required', 'email') && !isSubmitted">
                Email <strong>obbligatoria</strong>
            </mat-error>
        </mat-form-field>
        <div class="flex flex-col sm:flex-row sm:space-x-3">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Password</mat-label>
                <input 
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    matInput 
                    placeholder="Password"
                    required
                >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.hasError('required', 'password') && !isSubmitted">
                    Inserisci la <strong>password</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.hasError('pattern', 'password') && !isSubmitted">
                    <strong>Password</strong> deve contenere 8 caratteri: maiuscola, minuscola, numero e carattere speciale
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Conferma Password</mat-label>
                <input 
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password_confirmation"
                    matInput 
                    placeholder="Conferma Password"
                    [errorStateMatcher]="matcherPsw"
                    required
                >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.hasError('notSame') && !isSubmitted">
                    Password <strong>non coincidono</strong>
                </mat-error>  
                <mat-error *ngIf="registerForm.hasError('required', 'password_confirmation')">
                    Inserisci la <strong>password</strong>
                </mat-error>  
            </mat-form-field>
        </div>
    </div>
    <div class="flex justify-end">
        <button (click)="registration()" class="confirmButton text-lg px-2 py-1 rounded-md">
            REGISTRATI
        </button>
    </div>
</form>
