<div>
    <h1>Conferma richieste registrazione</h1>
    <p>Cose da fare:
        <li>create/order -> required all, autocomplete size, type, n, button x in search clients, scroll x, mt/pt</li>
        <li>create/user -> required all, ngClass like create/order, restyling</li>
        <li>create/client -> required all, ngClass like create/order, restyling</li>
        <li>see error in console</li>
        <li>change psw</li>
        <li>see sidebar url to view only specific things</li>
        <li>navbar mobile</li>
        <li>layout login</li>
        <li>p m in all pages</li>
        <li>dialog edit and delete</li>
        <li>logo where?</li>
        
    </p>
</div>
