<div>
    <form>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Vecchia Password</mat-label>
            <input type="password" matInput placeholder="Vecchia Password">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Nuova Password</mat-label>
            <input type="password" matInput placeholder="Nuova Password">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Confermare Nuova Password</mat-label>
            <input type="password" matInput placeholder="Confermare Nuova Password">
        </mat-form-field>
        <div class="flex items-center space-x-4">
            <div class="w-1/2 ml-auto">
                <button class="w-full h-10" mat-raised-button color="primary" (click)="closeDialog()">
                    <span class="p-2 text-white">ANNULLA</span>
                </button>
            </div>
            <div class="w-1/2 mr-auto">
                <button class="w-full h-10" mat-raised-button color="accent" (click)="confirmNewPassword()">
                    <span class="p-2 text-white">CONFERMA</span>
                </button>
            </div>
        </div>
    </form>
</div>