<div class="flex flex-col ">
  <app-navigation-menu></app-navigation-menu>
  <div class="md:h-full h-3/5">
    <h1 class="text-center">SCANNER QR</h1>
    <p class="text-center text-base">Inquadra il QR dell'assistito per creare un nuovo ordine</p>
    <div class="bg-black mx-4">
    <zxing-scanner (scanSuccess)="onCodeResult($event)" class="w-full md:w-1/2 h-1/2 mx-auto"></zxing-scanner>
  </div>
    <div class="mt-3 flex px-2 mb-6 space-x-2">
      <div class="mr-auto">
          <button mat-button class="backButton text-lg" (click)="goToHomeEsterno()">
              <mat-icon class="text-bt-orange">
                  keyboard_arrow_left
              </mat-icon>
              <span class="p-2">INDIETRO</span>
          </button>
      </div>
      <div>
          <button mat-button class="confirmButton text-lg">
              <span class="p-2">CONFERMA</span>
              <mat-icon class="">
                  keyboard_arrow_right
              </mat-icon>
          </button>
      </div>
  </div> 
    <!-- <section class="results" *ngIf="qrResultString">
      <div>
        <h3>Result</h3>
        <p>{{ qrResultString }}</p>
      </div>
      <button mat-icon-button (click)="clearResult()">Clear</button>
    </section> -->
  </div>
</div>