<div class="h-screen">
    <div class="text-center mb-4">
        <app-navigation-menu></app-navigation-menu>
        <img class="w-max mx-auto" src="../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
    </div>
    <h2 class="text-center font-bold mt-5">Error 404 - Page Not Found :(</h2>
    <div class="flex mt-4 p-5 mb-24">
        <button mat-raised-button class="flex-grow mb-8 p-6 text-2xl bg-bt-orange">
            <a routerLink="/home-esterno" routerLinkActive="active">
                <span class="p-2 text-white">HOME</span>
            </a>
        </button>
    </div>
</div>
