<div class="w-full h-12 flex justify-end items-center mt-0 bg-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToHome()">
            <span>HOME</span>
        </button>
        <button *ngIf="this.ruolo != 'admin'" mat-menu-item (click)="openMansionDialog()">
            <span>CAMBIA MANSIONE</span>
        </button>
        <button *ngIf="this.ruolo === 'admin'" mat-menu-item (click)="goToRichieste()">
            <span>RICHIESTE CONFERMA</span>
        </button>
        <button *ngIf="this.ruolo === 'admin'" mat-menu-item (click)="goToStorico()">
            <span>STORICO ACCESSI</span>
        </button>
        <button *ngIf="this.ruolo === 'admin'" mat-menu-item (click)="goToUser()">
            <span>NUOVO VOLONTARIO</span>
        </button>
        <button mat-menu-item (click)="goToOrdine()">
            <span *ngIf="this.ruolo != 'esterno'">NUOVO ORDINE</span> 
            <span *ngIf="this.ruolo === 'esterno'">ORDINI</span>
        </button>
        <button mat-menu-item (click)="goToRegistrazione()">
            <span *ngIf="this.ruolo != 'esterno'">NUOVO ASSISTITO</span> 
            <span *ngIf="this.ruolo === 'esterno'">ASSISTITI</span>
        </button>
        <button mat-menu-item (click)="openPasswordDialog()">
            <span>CAMBIA PASSWORD</span>
        </button>
        <button mat-menu-item (click)="goToLogin()">
            <span>ESCI</span>
        </button>
    </mat-menu>
</div>