<div class="flex flex-col h-full w-full bg-gray-100 p-10">

    <p class="text-3xl text-center font-semibold text-gray-800">Common Components</p>

    <div class="mb-10">
        <p class="text-xl font-mdeium mb-10">Bottone Conferma</p>
        <button mat-button class="confirmButton text-lg">
            <span class="p-2">CONFERMA</span>
            <mat-icon>
                keyboard_arrow_right
            </mat-icon>
        </button>
    </div>

    <div class="">
        <p class="text-xl font-mdeium mb-10">Bottone Indietro</p>
        <button mat-button class="backButton text-lg">
            <mat-icon class="text-bt-orange">
                keyboard_arrow_left
            </mat-icon>
            <span class="p-2">INDIETRO</span>
        </button>
    </div>

</div>