<div class="h-full w-full">
    <app-sidebar-admin-menu></app-sidebar-admin-menu>
    <div *ngIf="!isLoading" class="w-full flex">
        <div class="w-full h-full pt-12">
            <mat-card>
                <p class="font-bold text-2xl">NUOVO ASSISTITO</p>
                <form class="w-full mt-3">
                    <div class="w-full flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Nome</mat-label>
                            <input type="text" 
                                matInput
                                name="nome"
                                [(ngModel)]="newUser.nome" 
                                placeholder="Nome">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Cognome</mat-label>
                            <input type="text" 
                                matInput 
                                name="cognome"
                                [(ngModel)]="newUser.cognome" 
                                placeholder="Cognome">
                        </mat-form-field>
                        <!-- <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>N. Tessera</mat-label>
                            <input type="number" 
                                matInput 
                                name="n_tessera"
                                [(ngModel)]="newUser.n_tessera" 
                                placeholder="N. Tessera">
                        </mat-form-field> -->
                    </div>
                    <div class="w-full flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Email</mat-label>
                            <input type="email" 
                                matInput 
                                name="email"
                                [formControl]="emailFormControl" 
                                [errorStateMatcher]="matcher"
                                [(ngModel)]="newUser.email" 
                                placeholder="Email">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Per favore inserisci un indirizzo email valido
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email <strong>obbligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                        <div class="w-full flex-col ml-4">
                            <div>Ruolo: </div>
                            <mat-radio-group name="ruolo" [(ngModel)]="newUser.ruolo">
                                <mat-radio-button class="mx-2" *ngFor="let rule of rules" [value]="rule">
                                    {{ rule }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </form>  
                <div class="flex mt-3">
                    <div class="mr-auto ml-20">
                        <button mat-raised-button class="bg-bt-pink text-lg" (click)="goToHomeAdmin()">
                            <span class="p-2 text-white">INDIETRO</span>
                        </button>
                    </div>
                    <div class="mr-20">
                        <button mat-raised-button (click)="createUser()" class="bg-bt-orange text-lg">
                            <span class="p-2 text-white">CONFERMA</span>
                        </button>
                    </div>
                </div>
            </mat-card>                    
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>

