<div class="h-screen">
    <div *ngIf="!isLoading">
        <app-sidebar-menu class="md:flex hidden mb-10"></app-sidebar-menu>
        <app-navigation-menu class="flex md:hidden"></app-navigation-menu>
        <p class="font-bold text-2xl px-4 pt-5">ASSISTITI</p>
        <div class="md:flex mb-4 md:space-x-6 px-4">

            <!-- NEW CLIENT-->
            <div class="md:flex flex-col justify-center hidden">
                <button mat-raised-button class="bg-bt-orange" (click)="goToRegistrazioneEsterno()">
                    <span class="p-2 text-white">NUOVO ASSISTITO</span>
                </button>
            </div>

            <div class="w-full">
                <div class="flex items-center md:space-x-6 space-x-3">

                    <!-- SEARCHBAR -->
                    <input 
                    type="text"
                    [(ngModel)]="searchClient"
                    class="w-full flex-grow pl-3 py-2 rounded border
                    focus:border-nav"
                    placeholder="Cerca Cliente..."
                    >

                    <!-- SEARCH BUTTON -->
                    <div class="flex md:flex-col">
                        <button mat-raised-button (click)="filterClient()" class="bg-bt-orange">
                            <span class="p-2 text-white">CERCA</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let client of pageClientSlice" class="px-4 mb-2">
            <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false" class="h-full">
                <mat-expansion-panel-header>
                    <mat-panel-title class="w-1/3 my-auto">
                        <span class="font-bold">{{ client.nome | uppercase }} {{ client.cognome | uppercase}}</span>
                    </mat-panel-title>
                    <mat-panel-description class="w-1/3 flex justify-center my-auto">
                        <span class="leading-loose text-black mr-auto hidden md:inline">N. tessera 11</span>
                    </mat-panel-description>
                    <div class="w-1/3 flex justify-end">
                        <button mat-button-basic (click)="openEditClientDialog(client.id)" class="ml-auto mr-3 md:mr-5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </button>
                        <button mat-button-basic (click)="openDeleteClientDialog(client.id)" class="mr-3 md:mr-5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </button>
                    </div>
                </mat-expansion-panel-header>
                <p class="font-bold">{{ client.document?.param?.name }} N. {{ client.document?.n_documento }}</p>
                <p>Genere: {{ client.param?.name }}</p>
                <p>Nazionalità: {{ client.nazionalita }}</p>
                <table class="w-full">
                    <tr>
                        <td>Taglia maglia</td>
                        <td>Taglia pantaloni</td>
                        <td>Taglia scarpe</td>
                    </tr>
                    <tr>
                        <td>{{ client.t_maglietta }}</td>
                        <td>{{ client.t_pantaloni }}</td>
                        <td>{{ client.t_scarpe }}</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </div>
        <div class="md:flex hidden justify-end -mt-2">
            <mat-paginator [length]="this.clients.length"
                [pageSize]="10"
                [pageSizeOptions]="pageSizeOptions"
                (page)="OnPageChange($event)">
            </mat-paginator>
        </div>
        <div class="flex md:hidden justify-center ml-4">
            <mat-paginator [length]="this.clients.length" class="mb-20"
                [pageSize]="10"
                (page)="OnPageChange($event)">
            </mat-paginator>
        </div>
        <!-- NEW CLIENT [MOBILE] -->
        <!-- TODO: SPOSTARLO IN UNA POSIZIONE PIU' SENSATA, ORA NON SI PUO' CAMBIARE PAGINA -->
        <div class="fixed w-16 h-16 bottom-5 right-5 rounded-full bg-bt-orange md:hidden cursor-pointer" (click)="goToRegistrazioneEsterno()">
            <div class="flex w-full h-full justify-center items-center text-3xl text-white">
                +
            </div>
        </div>
    </div>
        
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>