<div *ngIf="!isLoading">
    <div>
        <h2 mat-dialog-title>Modifica Ordine N. <span class="font-bold">{{ order.n_ordine }}</span>
            di <span class="font-bold">{{ order.client?.nome | uppercase }} {{ order.client?.cognome | uppercase }}</span>
        </h2>
        <mat-dialog-content>
            <form class="w-full">
                <div class="w-full flex">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Punto di ritiro</mat-label>
                        <input type="text" matInput 
                            placeholder="Punto di ritiro">
                    </mat-form-field>
                </div>
                <div *ngFor="let clothe of order.clothes; let i = index" class="w-full flex-col mb-4">
                    <mat-expansion-panel (click)="save(clothe)" (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="w-1/3 my-auto">
                                <span class="font-bold">{{ clothe.t_vestiario }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="fill" class="w-full mt-4">
                            <mat-label>Tipo vestiario:</mat-label>
                            <mat-select [(value)]='clothe.t_vestiario'>
                                <mat-option *ngFor="let item of tvestiario" value="{{item.value}}" >
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Taglia:</mat-label>
                            <mat-select [(value)]='order.client.t_maglietta'>
                                <mat-option *ngFor="let item of tvestiarioUseCaseMapping[clothe.t_vestiario]" value="{{item.value}}">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full" >
                            <mat-label>Quantità</mat-label>
                            <input type="number" matInput
                                placeholder="Quantità">{{clothe.quantita}}
                        </mat-form-field>
                    </mat-expansion-panel>
                </div>
            </form>  
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button cdkFocusInitial (click)="clearCache()" mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
            <button mat-button (click)="editOrder()" mat-dialog-close class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
        </mat-dialog-actions>
    </div>
</div>
<div *ngIf="isLoading" class="grid h-full grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>