<div class="h-full w-full flex">
    <app-sidebar-menu></app-sidebar-menu>
    <div *ngIf="!isLoading" class="flex w-full">
        <div class="w-full h-full pt-12">
            <div>
                <form action="">
                    NUOVO ORDINE
                </form>
            </div>
            <button mat-raised-button class="bg-bt-pink">
                <a routerLink="/home-interno" routerLinkActive="active" class="p-2 text-white">
                    <span class="p-2 text-white">INDIETRO</span>
                </a>
            </button>
            <button mat-raised-button class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
        </div>
    </div>
    <div *ngIf="isLoading" class="grid h-full grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>