<div *ngIf="!isLoading">
    <h2 mat-dialog-title>Sei sicuro di voler eliminare</h2>
    <div *ngFor="let client of clients">
        <h1 class="font-bold">{{ client.nome | uppercase }} {{ client.cognome | uppercase }}</h1>
        <mat-dialog-actions align="end">
            <button mat-button cdkFocusInitial (click)="clearCache()" mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
            <button mat-button (click)="deleteClient()" mat-dialog-close class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
        </mat-dialog-actions>
    </div>
</div>
<div *ngIf="isLoading" class="h-full grid grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>


