<!-- 

<div class="h-full w-full">
    <div *ngIf="!isLoading" class="w-full flex">
        <div class="w-full h-full">
            <mat-card>
                <p class="font-bold text-2xl">NUOVO ASSISTITO</p>
                <form class="w-full mt-3">
                    <div class="w-full flex flex-col sm:flex-row">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Nome</mat-label>
                            <input type="text" 
                                matInput
                                name="nome"
                                 
                                placeholder="Nome">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full sm:ml-4">
                            <mat-label>Cognome</mat-label>
                            <input type="text" 
                                matInput 
                                name="cognome"
                                
                                placeholder="Cognome">
                        </mat-form-field>
                    </div>
                    <div class="w-full flex flex-col sm:flex-row">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Email</mat-label>
                            <input type="email" 
                                matInput 
                                name="email"
                                [formControl]="emailFormControl" 
                                [errorStateMatcher]="matcher"
                                
                                placeholder="Email">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Per favore inserisci un indirizzo email valido
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email <strong>obbligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                        <div class="w-full flex-col sm:ml-4">
                            <div>Ruolo: </div>
                            <mat-radio-group name="ruolo">
                                <mat-radio-button class="mx-2" *ngFor="let rule of rules" [value]="rule">
                                    {{ rule }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </form>  
                <div class="mt-3 flex px-2 mb-6 space-x-2">
                    <div class="mr-auto">
                        <button mat-button class="backButton text-lg" (click)="goToHome()">
                            <mat-icon class="text-bt-orange">
                                keyboard_arrow_left
                            </mat-icon>
                            <span class="p-2">INDIETRO</span>
                        </button>
                    </div>
                    <div>
                        <button mat-button class="confirmButton text-lg">
                            <span class="p-2">CONFERMA</span>
                            <mat-icon class="">
                                keyboard_arrow_right
                            </mat-icon>
                        </button>
                    </div>
                </div> 
            </mat-card>                    
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>
 -->

 <div class="w-full h-full flex flex-col justify-center items-center px-10 sm:px-0">
    <p class="text-2xl text-nav font-medium w-full sm:w-2/4 text-left">Registra volontario</p>
    <app-registration class="w-full sm:w-2/4"></app-registration>
 </div>