<div class="h-full w-full">
    <app-sidebar-admin-menu></app-sidebar-admin-menu>
    <div *ngIf="!isLoading" class="w-full flex">
        <div class="w-full h-full pt-12">
            <mat-card>
                <p class="font-bold text-2xl">NUOVO ASSISTITO</p>
                <form class="w-full mt-3">
                    <div class="w-full flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Nome</mat-label>
                            <input type="text" matInput 
                                placeholder="Nome"><!--[(ngModel)]="newClient.nome"-->
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Cognome</mat-label>
                            <input type="text" matInput 
                                placeholder="Cognome"><!--[(ngModel)]="newClient.cognome"-->
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>N. Tessera</mat-label>
                            <input type="number" matInput 
                                placeholder="N. Tessera"><!--[(ngModel)]="newClient.n_tessera"-->
                        </mat-form-field>
                        <div class="w-full flex-col ml-4">
                            <div>Genere: </div>
                            <mat-radio-group><!--[(ngModel)]="newClient.genere"-->
                                <mat-radio-button class="mx-2" *ngFor="let gender of genders" [value]="gender">
                                    {{ gender }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="w-full flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Tipo documento:</mat-label>
                            <mat-select name="tdocument" ><!--[(ngModel)]="newClient.t_documento"-->
                                <mat-option *ngFor="let tdocument of tdocuments" [value]="tdocument.value">
                                    {{tdocument.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>N. Documento</mat-label>
                            <input type="number" matInput 
                                placeholder="N. Documento"><!--[(ngModel)]="newClient.n_documento"-->
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Nazionalità</mat-label>
                            <mat-select class="form-control" name="country" id="country" ><!--[(ngModel)]="newClient.nazionalita"-->
                                <mat-option value="" disabled selected>Seleziona Paese</mat-option>
                                <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Taglia maglietta:</mat-label>
                            <mat-select name="tmaglietta" ><!--[(ngModel)]="newClient.t_maglietta"-->
                                <mat-option *ngFor="let tmaglietta of tmagliettas" [value]="tmaglietta.value">
                                    {{tmaglietta.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Taglia pantaloni:</mat-label>
                            <mat-select name="tpantaloni"><!-- [(ngModel)]="newClient.t_pantaloni"-->
                                <mat-option *ngFor="let tpantaloni of tpantalonis" [value]="tpantaloni.value">
                                    {{tpantaloni.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Taglia scarpe:</mat-label>
                            <mat-select name="tscarpe" ><!--[(ngModel)]="newClient.t_scarpe"-->
                                <mat-option *ngFor="let tscarpe of tscarpes" [value]="tscarpe.value">
                                    {{tscarpe.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full border-2">
                        <textarea name="" id="" rows="5" class="w-full p-2" placeholder="Note"></textarea>
                    </div>
                </form>  
                <div class="flex mt-3">
                    <div class="mr-auto ml-20">
                        <button mat-raised-button class="bg-bt-pink text-lg">
                            <a routerLink="/home-admin" routerLinkActive="active" class="p-2 text-white">
                                <span class="p-2 text-white">INDIETRO</span>
                            </a>
                        </button>
                    </div>
                    <div class="mr-20">
                        <button mat-raised-button (click)="createClient()" class="bg-bt-orange text-lg">
                            <span class="p-2 text-white">CONFERMA</span>
                        </button>
                    </div>
                </div>
            </mat-card>                    
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>

