<div class="h-full w-full">
    <app-sidebar-menu class="md:flex hidden"></app-sidebar-menu>
    <app-navigation-menu class="flex md:hidden"></app-navigation-menu>
    <div *ngIf="!isLoading" class="w-full h-screen">
            <mat-card class="h-full flex flex-col md:mt-0 mt-20">
                <div class="md:w-1/2 mx-auto flex flex-col justify-center h-full">
                    <p class="font-bold text-2xl">NUOVO ORDINE</p>
                    <!-- {{ newClothe.type }} {{ newClothe.size }} {{ newClothe.number }} -->
                    <form class="w-full mt-3">

                        <mat-form-field class="w-full md:w-full" appearance="fill">
                            <mat-label>Assistito:</mat-label>
                            <input type="text"
                                placeholder="Assistito..."
                                matInput
                                [(ngModel)]="nm"
                                [formControl]="myControl"
                                [matAutocomplete]="auto"
                            >
                            <button *ngIf="nm" matSuffix mat-icon-button aria-label="Clear" (click)="nm=''">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete (optionSelected)="sea()" #auto="matAutocomplete">
                                <mat-option *ngFor="let client of filteredClients | async" [value]="client.nome +' '+ client.cognome">
                                {{client.nome}} {{client.cognome}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Punto di ritiro</mat-label>
                            <input type="text" matInput 
                                placeholder="Punto di ritiro">
                        </mat-form-field>

                        <div class="w-full flex">
                            <mat-form-field appearance="fill" class="w-1/3">
                                <mat-label>Tipo vestiario:</mat-label>
                                <mat-select (selectionChange)="change()" name="tvestiario" [(ngModel)]="newClothe.type">
                                    <mat-option *ngFor="let item of tvestiario" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>   
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-1/3">
                                <mat-label>Taglia:</mat-label>
                                <mat-select (selectionChange)="change()" name="tagliaValue" [(ngModel)]="newClothe.size">
                                    <mat-option *ngFor="let item of tvestiarioUseCaseMapping[tvestiarioValue]" [value]="item.viewValue">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-1/3">
                                <mat-label>Quantità</mat-label>
                                <input type="number" matInput 
                                    placeholder="Quantità" [(ngModel)]="newClothe.number" name="quantita">
                            </mat-form-field>
                            
                            <div class="example-button-container flex flex-col">
                                <button mat-mini-fab color="nav" class="bg-nav" aria-label="Example icon button with a plus one icon" (click)="addClothe()">
                                  <mat-icon class="text-white">add</mat-icon>
                                </button>
                              </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="w-full border-b-2 border-nav text-nav font-medium space-y-1">
                                <span class="text-md">Vestiti ordine</span>
                                <div class="grid grid-cols-7 w-full pb-1">
                                    <div class="col-span-2">
                                        Tipo
                                    </div>
                                    <div class="col-span-2">
                                        Taglia
                                    </div>
                                    <div class="col-span-2">
                                        Quantità
                                    </div>
                                    <div class="text-center">
                                        Azioni
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col py-3">
                                
                                <div *ngFor="let clothe of clothes" class="w-full">
                                    <div class="grid grid-cols-7 w-full">
                                        <div class="col-span-2">
                                            {{ clothe.type }}
                                        </div>
                                        <div class="col-span-2">
                                            {{ clothe.size }}
                                        </div>
                                        <div class="col-span-2">
                                            {{ clothe.number }}
                                        </div>
                                        <div class="text-center">
                                            <mat-icon class="cursor-pointer" >edit_outline</mat-icon>
                                            <mat-icon class="cursor-pointer" >delete_outline</mat-icon>
                                        </div>
                                    </div>  
                                </div>
                            </div>

                        </div>
                        
                        <div class="w-full md:flex border-2">
                            <textarea name="" id="" rows="5" class="w-full p-2" placeholder="Note"></textarea>
                        </div>


                        <div class="flex space-x-2 justify-between py-8">
                            <button mat-button class="backButton text-lg" (click)="goToHomeInterno()">
                                <mat-icon class="text-bt-orange">
                                    keyboard_arrow_left
                                </mat-icon>
                                <span class="p-2">INDIETRO</span>
                            </button>
                            <button mat-button class="confirmButton text-lg">
                                <span class="p-2">CONFERMA</span>
                                <mat-icon class="">
                                    keyboard_arrow_right
                                </mat-icon>
                            </button>
                        </div>

                    </form>   
                </div>
            </mat-card>                    
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>



<!-- <p class="font-bold text-2xl">NUOVO ORDINE</p>
                <form class="w-full mt-3">

                    <div class="w-full hidden md:flex">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Tipo vestiario:</mat-label>
                            <mat-select (selectionChange)="change()" name="tvestiario" [(ngModel)]="tvestiarioValue">

                                <mat-option *ngFor="let item of tvestiario" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Taglia:</mat-label>
                            <mat-select (selectionChange)="change()" name="tagliaValue" [(ngModel)]="tagliaValue">
                                <mat-option *ngFor="let item of tvestiarioUseCaseMapping[tvestiarioValue]" [value]="item.viewValue">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full ml-4">
                            <mat-label>Quantità</mat-label>
                            <input type="number" matInput 
                                placeholder="Quantità" [(ngModel)]="quantita" name="quantita">
                        </mat-form-field>
                    </div>
                    <div class="w-full hidden md:flex border-2">
                        <textarea name="" id="" rows="5" class="w-full p-2" placeholder="Note"></textarea>
                    </div>

                
                    <div class="md:hidden">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Tipo vestiario:</mat-label>
                            <mat-select (selectionChange)="change()" name="tvestiario" [(ngModel)]="tvestiarioValue">
                                
                                <mat-option *ngFor="let item of tvestiario" [value]="item.value">
                                    {{item.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Taglia:</mat-label>
                            <mat-select (selectionChange)="change()" name="tmaglietta"[(ngModel)]="tagliaValue">
                                <mat-option *ngFor="let item of tvestiarioUseCaseMapping[tvestiarioValue]" [value]="item.viewValue">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Quantità</mat-label>
                            <input type="number" matInput 
                                placeholder="Quantità" [(ngModel)]="quantita" name="quantita">
                        </mat-form-field>
                        <div class="w-full border-2 px-4">
                            <textarea name="" id="" rows="5" class="w-full p-2 resize-none" placeholder="Note"></textarea>
                        </div>
                    </div>

                </form>
 -->
