<div class="h-screen">
    <div *ngIf="!isLoading">
        <app-navigation-menu></app-navigation-menu>
        <div class="w-full md:w-1/2 mx-auto">
            <p class="font-bold text-2xl px-6 pt-16">NUOVO ORDINE</p>
            <form class="w-full mt-3 px-6 py-4">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Assistito:</mat-label>
                    <input type="text"
                        placeholder="Assistito..."
                        matInput
                        [(ngModel)]="nm"
                        [formControl]="myControl"
                        [matAutocomplete]="auto"
                    >
                    <button *ngIf="nm" matSuffix mat-icon-button aria-label="Clear" (click)="nm=''">
                            <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete (optionSelected)="sea()" #auto="matAutocomplete">
                        <mat-option *ngFor="let client of filteredClients | async" [value]="client.nome +' '+ client.cognome">
                            {{client.nome}} {{client.cognome}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Punto di ritiro</mat-label>
                    <input type="text" matInput 
                        placeholder="p_ritiro">
                </mat-form-field>
                <div class="flex-col w-full">
                    <div>Genere: </div>
                    <mat-radio-group [(ngModel)]="choseGender" name="choseGender"(selectionChange)="change()">
                        <mat-radio-button class="mr-2 mt-2 mb-4" *ngFor="let gender of genders" [value]="gender">
                            {{ gender }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Tipo vestiario:</mat-label>
                    <mat-select name="tvestiario" [(ngModel)]="tvestiarioValue"(selectionChange)="change()">
                        <mat-option *ngFor="let item of tvestiario" [value]="item.value">
                            {{item.viewValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Taglia:</mat-label>
                        <mat-select name="tmaglietta"[(ngModel)]="tagliaValue" (selectionChange)="change()">
                            <mat-option *ngFor="let item of tvestiarioUseCaseMapping[tvestiarioValue]" [value]="item.viewValue">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Quantità</mat-label>
                        <input type="number" matInput 
                            placeholder="Quantità" [(ngModel)]="quantita" name="quantita">
                    </mat-form-field>
                    <div class="w-full border-2 px-4">
                        <textarea name="" id="" rows="5" class="w-full p-2 resize-none" placeholder="Note"></textarea>
                    </div>
            </form> 
            <div class="mt-3 flex px-6">
                <div class="mr-auto">
                    <button mat-button class="backButton text-lg" (click)="goToHomeEsterno()">
                        <mat-icon class="text-bt-orange">
                            keyboard_arrow_left
                        </mat-icon>
                        <span class="p-2">INDIETRO</span>
                    </button>
                </div>
                <div class="mb-6">
                    <button mat-button class="confirmButton text-lg">
                        <span class="p-2">CONFERMA</span>
                        <mat-icon class="">
                            keyboard_arrow_right
                        </mat-icon>
                    </button>
                </div>
            </div> 
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
