<div *ngIf="!isLoading">
    <h2 mat-dialog-title>Sei sicuro di voler passare a</h2>
    <div *ngIf="current_route === home_esterno_url">
        <h1>INTERNO</h1>
        <mat-dialog-actions align="end">
            <button mat-button routerLink="/home-interno" routerLinkActive="active" mat-dialog-close class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
            <button mat-button cdkFocusInitial mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
        </mat-dialog-actions>
    </div>
    <div *ngIf="current_route != home_esterno_url">
        <h1>ESTERNO</h1>
        <mat-dialog-actions align="end">
            <button mat-button routerLink="/home-esterno" routerLinkActive="active" mat-dialog-close class="bg-bt-orange">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
            <button mat-button cdkFocusInitial mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
        </mat-dialog-actions>
    </div>
</div>
<div *ngIf="isLoading" class="h-full grid grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>

