<div class="h-screen">
    <div class="mb-4 text-center">
        <img class="w-max mx-auto mt-5" src="../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
    </div>
    <h2 class="mt-5 text-center font-bold">Error 404 - Page Not Found :(</h2>
    <p class="text-center text-lg mx-2">Ci dispiace, la pagina non è corretta. 
        <br>Si prega di tornare al <span routerLink="/login" class="underline text-nav cursor-pointer">login</span>.</p>
    <div class="flex mt-4 p-10 mb-24 items-center justify-center">
        <button mat-raised-button (click)="goToLogin()" class="mb-8 text-2xl bg-bt-orange h-24">
            <span class="p-20 text-white">LOGIN</span>
        </button>
    </div>
</div>
