@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bt-orange: #EB7837
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backButton {
    border: 2px solid var(--bt-orange)!important;
    color: var(--bt-orange);
}

.confirmButton {
    border: 2px solid var(--bt-orange)!important;
    color: white;
    background-color: var(--bt-orange);
}
