<div class="h-full w-full">
    <app-sidebar-admin-menu></app-sidebar-admin-menu>
    <div *ngIf="!isLoading" class="w-full flex items-stretch">
        <div class="w-full h-full">
            <div class="flex items-center justify-around mb-4 pt-12 text-center">
                <img class="w-max" src="../../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
                <div>
                    <mat-card class="text-left">
                        <p class="font-bold">Notifiche:</p>
                        <p>Accessi oggi:  </p>
                        <p>Ci sono {{ orderInAttesa }} ordini in attesa</p>
                        <p>Ci sono {{ orderNonDisp }} ordini non disponibili</p>
                        <!-- <p>Ci sono {{ orderNonDisp }} ordini da confermare</p> -->
                        <p>Ci sono {{ clients.length }} assistiti registrati</p>
                        <p>Ci sono {{ orders.length }} ordini registrati</p>
                    </mat-card>
                </div>
            </div>
            <mat-tab-group mat-align-tabs="center" class="w-full flex">
                <mat-tab label="VOLONTARI">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="flex mb-4 pt-2">
                                <div class="mr-6">
                                    <button mat-raised-button class="bg-bt-orange">
                                        <a (click)="goToUserAdmin()">
                                            <span class="p-2 text-white">NUOVO VOLONTARIO</span>
                                        </a>
                                    </button>
                                </div>
                                <div class="w-full">
                                    <input 
                                        [(ngModel)]="searchUser"
                                        type="text"
                                        class="w-full flex-grow pl-3 py-2 rounded border
                                        focus:border-nav"
                                        placeholder="Cerca Volontario..."
                                    >
                                </div>
                                <div class="ml-6">
                                    <button mat-raised-button (click)="filterUser()" class="bg-bt-orange">
                                        <span class="p-2 text-white">CERCA</span>
                                    </button>
                                </div>
                            </div>
                            <div *ngFor="let user of pageUserSlice" class="mt-2">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="w-1/3 my-auto">
                                            <span class="font-bold">{{ user.nome | uppercase }} {{ user.cognome | uppercase }}</span>
                                        </mat-panel-title>
                                        <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                            <span class="leading-loose text-black mr-auto">Ruolo: {{ user.ruolo }}</span>
                                        </mat-panel-description>
                                        <div class="w-1/3 flex justify-end">
                                            <button mat-button-basic (click)="openEditUserDialog()" class="ml-auto mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </button>
                                            <button mat-button-basic (click)="openDeleteUserDialog()" class="mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <p>Email: {{ user.email }}</p>
                                    <p>Creato il: {{ user.created_at | date :'short'}}</p>
                                </mat-expansion-panel>
                            </div>
                            <mat-paginator [length]="this.users.length"
                                [pageSize]="10"
                                [pageSizeOptions]="pageSizeOptions"
                                (page)="OnPageChange($event)">
                            </mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="ORDINI">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="flex mb-4 pt-2">
                                <div class="mr-6">
                                    <button mat-raised-button class="bg-bt-orange">
                                        <a (click)="goToOrderAdmin()">
                                            <span class="p-2 text-white">NUOVO ORDINE</span>
                                        </a>
                                    </button>
                                </div>
                                <div class="w-full">
                                    <input 
                                        [(ngModel)]="searchOrder"
                                        type="text"
                                        class="w-full flex-grow pl-3 py-2 rounded border
                                        focus:border-nav"
                                        placeholder="Cerca Ordine..."
                                    >
                                </div>
                                <mat-form-field class="ml-6">
                                    <mat-label>Stato Ordine:</mat-label>
                                    <mat-select name="sordine" [(ngModel)]="state"> 
                                        <mat-option *ngFor="let sordine of sordines" [value]="sordine">
                                            {{sordine}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="ml-6">
                                    <button mat-raised-button (click)="filterOrder()" class="bg-bt-orange">
                                        <span class="p-2 text-white">CERCA</span>
                                    </button>
                                </div>
                            </div>
                            <div *ngFor="let order of pageOrderSlice" class="mt-2">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="w-1/3 my-auto">
                                            <span class="font-bold">Ordine N. {{ order.n_ordine }}</span>
                                        </mat-panel-title>
                                        <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                            <span class="mr-auto leading-loose text-black">Stato: {{order.status }}</span>
                                            <div *ngIf="order.status === 'In attesa'">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-blue-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </div>
                                            <div *ngIf="order.status === 'Consegnato'">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto text-green-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                </svg>
                                            </div>
                                            <div *ngIf="order.status === 'Non disponibile'">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 h-6 w-6 my-auto text-red-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                            </div>
                                        </mat-panel-description>
                                        <div class="w-1/3 flex justify-end">
                                            <button mat-button-basic (click)="openEditOrderDialog()" class="ml-auto mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </button>
                                            <button mat-button-basic (click)="openDeleteOrderDialog()" class="mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <p class="font-bold">{{ order.client?.nome }} {{ order.client?.cognome }}</p>
                                    <p>Punto di ritiro: {{ order.p_ritiro }}</p>
                                    <table class="w-full">
                                        <tr>
                                            <td>Tipo vestiario</td>
                                            <td>Genere</td>
                                            <td>Taglia</td>
                                            <td>Quantità</td>
                                        </tr>
                                        <tr>
                                            <td>{{ order.t_vestiario }}</td>
                                            <td>{{ order.genere }}</td>
                                            <td>{{ order.taglia }}</td>
                                            <td>{{ order.quantita }}</td>
                                        </tr>
                                    </table>
                                </mat-expansion-panel>
                            </div>
                            <mat-paginator [length]="this.orders.length"
                                [pageSize]="10"
                                [pageSizeOptions]="pageSizeOptions"
                                (page)="OnPageChange($event)">
                            </mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="ASSISTITI">
                    <mat-card class="h-full">
                        <mat-card-content>
                            <div class="flex mb-4 pt-2">
                                <div class="mr-6">
                                    <button mat-raised-button class="bg-bt-orange">
                                        <a (click)="goToClientAdmin()">
                                            <span class="p-2 text-white">NUOVO ASSISTITO</span>
                                        </a>
                                    </button>
                                </div>
                                <div class="w-full">
                                    <input 
                                        type="text"
                                        class="w-full flex-grow pl-3 py-2 rounded border
                                        focus:border-nav"
                                        [(ngModel)]="searchClient"
                                        placeholder="Cerca Assistito..."
                                    >
                                </div>
                                <div class="ml-6">
                                    <button mat-raised-button (click)="filterClient()" class="bg-bt-orange">
                                        <span class="p-2 text-white">CERCA</span>
                                    </button>
                                </div>
                            </div>
                            <div *ngFor="let client of pageClientSlice" class="mt-2">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false" class="h-full">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="w-1/3 my-auto">
                                            <span class="font-bold">{{ client.nome | uppercase }} {{ client.cognome | uppercase}}</span>
                                        </mat-panel-title>
                                        <mat-panel-description class="w-1/3 flex justify-center my-auto">
                                            <span class="leading-loose text-black">N. tessera 11</span>
                                        </mat-panel-description>
                                        <div class="w-1/3 flex justify-end">
                                            <button mat-button-basic (click)="openEditClientDialog()" class="mr-5 pl-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </button>
                                            <button mat-button-basic (click)="openDeleteClientDialog()" class="mr-5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <p class="font-bold">{{ client.t_documento }} N. {{ client.n_documento }}</p>
                                    <p>Genere: {{ client.genere }}</p>
                                    <p>Nazionalità: {{ client.nazionalita }}</p>
                                    <table class="w-full">
                                        <tr>
                                            <td>Taglia maglia</td>
                                            <td>Taglia pantaloni</td>
                                            <td>Taglia scarpe</td>
                                        </tr>
                                        <tr>
                                            <td>{{ client.t_maglietta }}</td>
                                            <td>{{ client.t_pantaloni }}</td>
                                            <td>{{ client.t_scarpe }}</td>
                                        </tr>
                                    </table>
                                </mat-expansion-panel>
                            </div>
                            <mat-paginator [length]="this.clients.length"
                                [pageSize]="10"
                                [pageSizeOptions]="pageSizeOptions"
                                (page)="OnPageChange($event)">
                            </mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center m-auto">
        <mat-spinner class="m-auto border-nav"></mat-spinner>
    </div>
</div>