<div *ngIf="!isLoading">
    <h2 mat-dialog-title>Scegliere la mansione di oggi</h2>
    <mat-dialog-actions align="center">
        <div class="flex items-center">
                <button class="w-1/2 h-10" mat-raised-button color="primary" (click)="goToHomeInterno()">
                    <span class="p-2 text-white">INTERNO</span>
                </button>
                <button class="w-1/2 h-10" mat-raised-button color="accent" (click)="goToHomeEsterno()">
                    <span class="p-2 text-white">ESTERNO</span>
                </button>
        </div>
    </mat-dialog-actions>
</div>
<div *ngIf="isLoading" class="h-full grid grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>