<div class="h-screen">
    <div *ngIf="!isLoading">
        <app-navigation-menu></app-navigation-menu>
        <div>
            <form action="">
                NUOVO ORDINE
            </form>
        </div>
        <button mat-raised-button class="bg-bt-pink">
            <a routerLink="/home-esterno" routerLinkActive="active">
                <span class="p-2 text-white">INDIETRO</span>
            </a>
        </button>
        <button mat-raised-button class="bg-bt-orange">
            <span class="p-2 text-white">CONFERMA</span>
        </button>
    </div>
    <div *ngIf="isLoading" class="grid h-full grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>
