<mat-toolbar class="h-12 w-full fixed inset-0 z-50 bg-nav">
    <div class="w-full flex items-center">
        <button mat-icon-button (click)="sidebarRef.toggle()">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
        <div class="ml-auto mr-1 text-white text-lg">
            {{ user.nome | uppercase }} {{ user.cognome | uppercase}}
        </div>
        <button mat-icon-button (click)="goToLogin()">
            <mat-icon class="text-white">exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container class="h-screen pt-10 sidenav">
    <mat-sidenav #sidebarRef opened mode="side" class="flex inset-y-0 left-0 z-50 pb-3 mt-10 bg-nav" [(opened)]="isSidebarOpen">
        <mat-list class="h-full w-60 flex flex-col justify-between">
            <div class="mt-8">
                <mat-list-item><button mat-button (click)="goToHomeInterno()" class="w-full left text-lg text-white">HOME</button></mat-list-item>
                <mat-list-item><button mat-button (click)="openMansionDialog()" class="w-full left text-lg text-white">CAMBIA MANSIONI</button></mat-list-item>
                <mat-list-item><button mat-button (click)="goToOrdineInterno()" class="w-full left text-lg text-white">NUOVO ORDINE</button></mat-list-item>
                <mat-list-item><button mat-button (click)="goToRegistrazioneInterno()" class="w-full left text-lg text-white">NUOVO ASSISTITO</button></mat-list-item>
            </div>
            <div class="mb-8">
                <div class="my-2">
                    <mat-divider></mat-divider>
                </div>
                <mat-list-item><button mat-button (click)="openPasswordDialog()" class="w-full left text-lg text-white">CAMBIA PASSWORD</button></mat-list-item>
                <mat-list-item><button mat-button (click)="goToLogin()" class="w-full left text-lg text-white">ESCI</button></mat-list-item>
            </div>
        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>