<div class="h-screen">
    <div class="mb-4 text-center">
        <div class="w-full h-12 flex justify-end items-center mt-0 bg-nav">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToLogin()">
                    <span>LOGIN</span>
                </button>
            </mat-menu>
        </div>
        <img class="w-max mx-auto" src="../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
    </div>
    <h2 class="mt-5 text-center font-bold">Error 404 - Page Not Found :(</h2>
    <p>Ci dispiace, la pagina non è corretta. Si prega di tornare al login.</p>
    <div class="flex mt-4 p-5 mb-24">
        <button mat-raised-button (click)="goToLogin()" class="flex-grow mb-8 p-6 text-2xl bg-bt-orange">
            <span class="p-2 text-white">LOGIN</span>
        </button>
    </div>
</div>
