:host ::ng-deep .mat-tab-group{

}

:host ::ng-deep .mat-button-base{
    position: absolute !important;
    bottom: 0 !important;
}

:host ::ng-deep .mat-tab-body-wrapper{
    position: relative !important;
    height: 100% !important;
    display: flex !important;
    flex-grow: 1;
    flex-direction: row !important; 
    align-items: stretch;
}