<div class="flex flex-col h-full bg-nav items-center justify-center px-5 space-y-5 py-10" id="wrapper">
    <div class="flex justify-center">
        <div class="rounded-full bg-bt-orange">
            <img class="h-28" src="../../assets/icon-ronda.png" alt="logo-ronda-della-carita">
        </div>
    </div>

    <div class="flex w-full sm:w-2/5 bg-white shadow-2xl rounded-md items-center justify-center py-5 px-10">
        <mat-tab-group class="w-full" mat-align-tabs="center">
            <mat-tab label="LOGIN">
                <form [formGroup]="loginForm" class="flex flex-col flex-grow h-full pt-5">
                    <div class="flex flex-col justify-center">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input 
                                type="email" 
                                matInput 
                                formControlName="email"
                                placeholder="Email"
                                [errorStateMatcher]="matcherEmail"
                                required
                            >
                            <mat-error *ngIf="loginForm.hasError('email', 'email') && !loginForm.hasError('required','email')">
                                Inserisci un indirizzo <strong>email valido</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.hasError('required', 'email')">
                                Email <strong>obbligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input 
                                [type]="hide ? 'password' : 'text'"
                                formControlName="password"
                                matInput 
                                placeholder="Password"
                                required
                            >
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="loginForm.hasError('required', 'password')">
                                Inserisci la <strong>password</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-end">
                        <button (click)="login()" class="confirmButton text-lg px-2 py-1 rounded-md">
                            LOGIN
                        </button>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="REGISTRATI">
                <app-registration></app-registration>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>