<div class="h-screen w-screen flex justify-center items-center bg-nav px-5">
    <div class="h-4/6 md:h-3/4 w-full md:w-1/3 flex flex-col py-7 bg-white rounded-xl shadow-2xl">
        <img class="w-44 md:w-2/4 mx-auto" src="../../../assets/ronda-della-carita.png" alt="logo-ronda-della-carita">
        <div class="w-full h-full justify-center flex flex-col px-6">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="LOGIN">
                    <mat-card-content>
                        <form class="py-2">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" 
                                    matInput 
                                    [formControl]="emailFormControl" 
                                    [errorStateMatcher]="matcher"
                                    placeholder="Email">
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Per favore inserisci un indirizzo email valido
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email <strong>obbligatoria</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Password">
                            </mat-form-field>
                            <a (click)="goToChangePassword()" class="text-bt-orange hover:underline">Password dimenticata?</a>
                            <div class="mt-4">
                                <button class="w-full h-10" mat-raised-button color="accent" (click)="login()">
                                    <span class="p-2 text-white">ACCEDI</span>
                                </button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="REGISTRATI">
                    <mat-card-content>
                        <form class="py-2">   
                            <div class="flex space-x-2">
                                <mat-form-field class="w-1/2" appearance="fill">
                                    <mat-label>Nome</mat-label>
                                    <input type="text" matInput placeholder="Nome">
                                </mat-form-field>
                                <mat-form-field class="w-1/2" appearance="fill">
                                    <mat-label>Cognome</mat-label>
                                    <input type="text" matInput placeholder="Cognome">
                                </mat-form-field>
                            </div>
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" 
                                    matInput 
                                    [formControl]="emailFormControl" 
                                    [errorStateMatcher]="matcher"
                                    placeholder="Email">
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Per favore inserisci un indirizzo email valido
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email <strong>obbligatoria</strong>
                                </mat-error>
                            </mat-form-field>
                            <div class="flex space-x-2">
                                <mat-form-field class="w-1/2" appearance="fill">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput placeholder="Password">
                                </mat-form-field>
                                <mat-form-field class="w-1/2" appearance="fill">
                                    <mat-label>Conferma Password</mat-label>
                                    <input type="password" matInput placeholder="Conferma Password">
                                </mat-form-field>
                            </div>
                            <button class="w-full h-10" mat-raised-button color="accent" (click)="registration('admin')">
                                <span class="p-2 text-white">REGISTRATI</span>
                            </button>
                        </form>
                    </mat-card-content>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>
