<div class="w-full float-right mt-0 bg-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="float-right">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToHomeEsterno()">
            <span>HOME</span>
        </button>
        <button mat-menu-item (click)="openMansionDialog()">
            <span>CAMBIA MANSIONE</span>
        </button>
        <button mat-menu-item (click)="goToViewRegistrazioneEsterno()">
            <span>ASSISTITI</span>
        </button>
        <button mat-menu-item (click)="goToViewOrdineEsterno()">
            <span>ORDINI</span>
        </button>
        <button mat-menu-item (click)="openPasswordDialog()">
            <span>CAMBIA PASSWORD</span>
        </button>
        <button mat-menu-item (click)="goToLogin()">
            <span>ESCI</span>
        </button>
    </mat-menu>
</div>