<div *ngIf="!isLoading">
    <h2 mat-dialog-title>Sei sicuro di voler passare a</h2>
    <div class="flex justify-center">
        <h1 class="">
            <span *ngIf="!urlInterno">INTERNO?</span>
            <span *ngIf="urlInterno">ESTERNO?</span>
        </h1>
    </div>
    <mat-dialog-actions align="center">
        <div class="flex">
            <button mat-button class="backButton text-lg w-1/2" mat-dialog-close>
                <span class="p-2">ANNULLA</span>
            </button>
            <button mat-button (click)="goToHome()" mat-dialog-close class="bg-bt-orange w-1/2 text-lg">
                <span class="p-2 text-white">CONFERMA</span>
            </button>
        </div>
    </mat-dialog-actions>
</div>
<div *ngIf="isLoading" class="h-full grid grid-center">
    <mat-spinner class="m-auto"></mat-spinner>
</div>

