<div class="h-full w-full">
    <app-sidebar-menu class="md:flex hidden"></app-sidebar-menu>
    <app-navigation-menu class="flex md:hidden"></app-navigation-menu>
    <div *ngIf="!isLoading" class="w-full h-screen">
            <mat-card class="h-full flex flex-col md:mt-0 mt-20">
                <div class="md:w-1/2 mx-auto flex flex-col justify-center h-full">
                    <p class="font-bold text-2xl">NUOVO ASSISTITO</p>
                    <form class="w-full mt-3">
                        <div class="w-full flex flex-col">
                            <div class="flex">
                                <label for="" class="font-medium text-md py-2">Dati anagrafici</label>
                            </div>
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Nome</mat-label>
                                <input type="text" matInput 
                                    placeholder="Nome"><!--[(ngModel)]="newClient.nome"-->
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="flex flex-col flex-grow">
                                <mat-label>Cognome</mat-label>
                                <input type="text" matInput 
                                    placeholder="Cognome"><!--[(ngModel)]="newClient.cognome"-->
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill" class="flex flex-col flex-grow">
                                <mat-label>Genere</mat-label>
                                <mat-select class="form-control" name="country" id="country" ><!--[(ngModel)]="newClient.nazionalita"-->
                                    <mat-option value="" disabled selected>Seleziona Genere</mat-option>
                                    <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="flex flex-col flex-grow">
                                <mat-label>N. Tessera</mat-label>
                                <input type="number" matInput 
                                    placeholder="N. Tessera"><!--[(ngModel)]="newClient.n_tessera"-->
                            </mat-form-field>
                        </div>
                        <div class="w-full flex flex-col">
                            <div class="flex">
                                <label for="" class="font-medium text-md py-2">Documento</label>
                            </div>
                            <div class="w-full md:flex">
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Tipo documento:</mat-label>
                                    <mat-select name="tdocument" ><!--[(ngModel)]="newClient.t_documento"-->
                                        <mat-option *ngFor="let tdocument of tdocuments" [value]="tdocument.value">
                                            {{tdocument.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>N. Documento</mat-label>
                                    <input type="number" matInput 
                                        placeholder="N. Documento"><!--[(ngModel)]="newClient.n_documento"-->
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Nazionalità</mat-label>
                                    <mat-select class="form-control" name="country" id="country" ><!--[(ngModel)]="newClient.nazionalita"-->
                                        <mat-option value="" disabled selected>Seleziona Paese</mat-option>
                                        <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="w-full flex flex-col">
                            <div class="flex">
                                <label for="" class="font-medium text-md py-2">Taglie vestiti</label>
                            </div>
                            <div class="flex w-full">
                                <mat-form-field appearance="fill" class="w-1/3">
                                    <mat-label>Maglietta</mat-label>
                                    <mat-select name="tmaglietta" ><!--[(ngModel)]="newClient.t_maglietta"-->
                                        <mat-option *ngFor="let tmaglietta of tmagliettas" [value]="tmaglietta.value">
                                            {{tmaglietta.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-1/3">
                                    <mat-label>Pantaloni</mat-label>
                                    <mat-select name="tpantaloni"><!-- [(ngModel)]="newClient.t_pantaloni"-->
                                        <mat-option *ngFor="let tpantaloni of tpantalonis" [value]="tpantaloni.value">
                                            {{tpantaloni.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-1/3">
                                    <mat-label>Scarpe</mat-label>
                                    <mat-select name="tscarpe" ><!--[(ngModel)]="newClient.t_scarpe"-->
                                        <mat-option *ngFor="let tscarpe of tscarpes" [value]="tscarpe.value">
                                            {{tscarpe.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <div class="w-full md:flex  border-2">
                            <textarea name="" id="" rows="5" class="w-full p-2" placeholder="Note"></textarea>
                        </div>

                        <div class="flex space-x-2 justify-between py-8">
                            <button mat-button class="backButton text-lg" (click)="goToHomeEsterno()">
                                <mat-icon class="text-bt-orange">
                                    keyboard_arrow_left
                                </mat-icon>
                                <span class="p-2">INDIETRO</span>
                            </button>
                            <button mat-button class="confirmButton text-lg">
                                <span class="p-2">CONFERMA</span>
                                <mat-icon class="">
                                    keyboard_arrow_right
                                </mat-icon>
                            </button>
                        </div>

                    </form>   
                </div>
            </mat-card>                    
    </div>
    <div *ngIf="isLoading" class="h-full grid grid-center">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>
</div>

