<mat-toolbar class="h-16 w-full fixed inset-0 z-50 bg-nav">
    <div class="w-full flex items-center justify-between space-x-5">
        
        <button mat-icon-button (click)="toggle()">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
        <!-- <div class="absolute w-full flex justify-center py-2">
            <img class="w-36" src="../../../assets/logo-white-text.png" alt="logo-ronda-della-carita">
        </div> -->

        <div class="flex items-center space-x-3">
            <div class="ml-auto mr-1 text-white text-lg h-full">
                {{ user.nome | uppercase }} {{ user.cognome | uppercase}}
            </div>
            <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
                <div class="relative flex justify-center items-center">
                    <mat-icon class="text-white relative">notifications_active</mat-icon>
                    <span *ngIf="countNotifiche" class="absolute left-6 bottom-1/2 rounded-full text-white bg-red-400 h-5 flex items-center justify-center">
                        <span class="px-1">{{ countNotifiche }}</span>
                    </span>
                </div>
            </button>
            <mat-menu #menu="matMenu" class="px-4 pt-2 flex flex-col justify-center w-60 overflow-y-scroll">
                <button *ngIf="orderDaConf >= 1" class="cursor-pointer" (click)="viewOrderDaConf()">
                    <p *ngIf="orderDaConf !== 1">
                        <span class="font-semibold text-lg mr-1">{{ orderDaConf }}</span> 
                        ordini da confermare
                    </p>
                    <p *ngIf="orderDaConf === 1">
                        <span class="font-semibold text-lg mr-1">{{ orderDaConf }}</span> 
                        ordine da confermare
                    </p>
                </button>
                <button *ngIf="orderNonDisp >= 1" class="cursor-pointer" (click)="viewOrderNonDisp()">
                    <p *ngIf="orderNonDisp !== 1">
                        <span class="font-semibold text-lg mr-1">{{ orderNonDisp }}</span> 
                        ordini non disponibili
                    </p>
                    <p *ngIf="orderNonDisp === 1">
                        <span class="font-semibold text-lg mr-1">{{ orderNonDisp }}</span> 
                        ordine non disponibile
                    </p>
                </button>
                <button *ngIf="orderInAttesa >= 1" class="cursor-pointer" (click)="viewOrderInAttesa()">
                    <p *ngIf="orderInAttesa !== 1">
                        <span class="font-semibold text-lg mr-1">{{ orderInAttesa }}</span> 
                        ordini in attesa
                    </p>
                    <p *ngIf="orderInAttesa === 1">
                        <span class="font-semibold text-lg mr-1">{{ orderInAttesa }}</span> 
                        ordine in attesa
                    </p>
                </button> 
            </mat-menu>
            <button mat-icon-button (click)="goToLogOut()">
                <mat-icon class="text-white">exit_to_app</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container class="h-screen pt-10 sidenav">
    <mat-sidenav #sidenav 
        opened 
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        class="flex inset-y-0 left-0 z-50 pb-3 mt-10 bg-nav" 
        [(opened)]="isSidebarOpen"
    >
        <mat-list class="h-full w-60 flex flex-col justify-between">
            <div class="mt-8">
                <mat-list-item>
                    <button mat-button (click)="goToHome()" class="w-full left text-lg text-white">
                        <span>HOME</span>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="!isAdmin">
                    <button mat-button (click)="openMansionDialog()" class="w-full left text-lg text-white">
                        <span>CAMBIA MANSIONE</span>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="isAdmin">
                    <button mat-button (click)="goToConfirm()" class="w-full left text-lg text-white">
                        <span>RCHIESTE CONFERMA</span>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="isAdmin">
                    <button mat-button (click)="goToCreateUser()" class="w-full left text-lg text-white">
                        <span>NUOVO VOLONTARIO</span>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button (click)="goToCreateOrder()" class="w-full left text-lg text-white">
                        <span>NUOVO ORDINE</span> 
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button (click)="goToCreateClient()" class="w-full left text-lg text-white">
                        <span>NUOVO ASSISTITO</span> 
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="urlEsterno">
                    <button mat-button (click)="goToViewAll()" class="w-full left text-lg text-white">
                        <span>VEDI TUTTO</span>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="isAdmin">
                    <button mat-button (click)="goToHistory()" class="w-full left text-lg text-white">
                        <span>STORICO ACCESSI</span>
                    </button>
                </mat-list-item>
            </div>
            <div class="mb-8">
                <mat-list-item>
                    <button mat-button (click)="openPasswordDialog()" class="w-full left text-lg text-white">
                        <span>CAMBIA PASSWORD</span>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button (click)="goToLogOut()" class="w-full left text-lg text-white">
                        <span>ESCI</span>
                    </button>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>